/* Our CSS file. */


*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}
#container{
    background-color: #f2f2f2;
    width: 100vw;
    margin-bottom: 20px;
    height: 100vh;


}
.textbox{
display: flex;
width: 80%;
height: 100vh;
margin: 20px auto;

}
.trow{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    
}
.cols1{
    Width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

}

.cols{
    width: 50%;
    text-align: left;
    height: 100%     
}

h1,p{
    margin: 20px 0;
}
h1{
    font-size: 60px;
}
.cols iframe{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
}


.btn{
    text-decoration: none;
    border: 0;
    outline: none;
    color: #fff;
    padding: 12px 30px;
    font-size: 15px;
    background: rgba(0,0,0,1);
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
    color: black;
    transition: .3s;

}
.cols1 iframe{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
}
@media(max-width:700px) {
    .textbox{
        flex-direction: column;
    }
}